/* Style guide for CSS
  -class names lowercase with dashes (kebab case), e.g. "user-input"
  -colors in hexadecimal, e.g #fefefe
  -rules in separate lines
  -follow Object Oriented CSS if necessary https://github.com/stubbornella/oocss/wiki
*/

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
  font-family: 'Share Tech Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* this makes the body a flex container
  and the App component within centered*/
  display:flex;
  align-items: center;
  justify-content: center;

  background-color: black;
  color: limegreen;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ol, ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li, p {
  line-height: 1.25;
  margin:0px;
}

.game-board{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1ch;
  max-width: max-content;
}

.remaining-attempts-text{
  grid-column: 1;
  grid-row: 1;
}

.remaining-attempts{
  grid-column: 2;
  grid-row: 1;
}

.column-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1ch;

  margin:0px;
  padding: 0px;
  max-width: max-content;
}

.first-column-container{
  grid-column:1;
  grid-row:2;

}

.second-column-container{
 grid-column:2;
 grid-row:2; 
}

.feedback-column{
  grid-column:3;
  grid-row:2;

  display: flex;
  align-items: flex-end;
}

.highlighted-symbol{
  color: black;
  background-color: limegreen;
}

.attempt-bullet{
  height: 100%;
  background-color: limegreen;
  margin-right: 1ch;
}

.welcome-message{
  margin-bottom: 1%;
}